<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/static/gruvbox.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body id="top">
        <main>
            <h1>{{ title }}</h1>

            {{~> page}}

            {{> footer }}
        </main>
    </body>
</html>
